* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.options {
    display: flex;
    justify-content: space-between;
    width: 15%;
}

body {
    background: #343434;
}